<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Demo project!</title>
		<link rel="stylesheet" href="/css/main.css?v={{ version }}">
	</head>
	<body>
		{% block body %}{% endblock %}
		
		<script src="/js/jquery-3.1.1.min.js"></script>
		<script src="/js/main.js?v={{ version }}"></script>
	</body>
</html>
