{% extends 'base.html.twig' %}

{% block body %}
	<div class="languages">
		{% for language in languages %}
			<div class="selected{{ language.selected }}" data-id="{{ language.id }}">{{ language.name }}</div>
		{% endfor %}
	</div>
	<div class="departments">
		<select>
			<option value="0">All departments</option>
			{% for department in departments %}
				<option value="{{ department.id }}">{{ department.name }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="result">
	</div>
{% endblock %}
