body{font:16px helvetica, arial, sans-serif;}
.languages>div{display:inline-block;margin-right:5px;cursor:pointer;color:#2E64FE;}
.languages>div.selected1{text-decoration:underline;font-weight:700;}
.departments select{margin-top:5px;width:200px;font-size:16px;}
.result{color:#ddd;font-weight:700;margin-top:10px;font-size:20px;}
.result>.vacancy{color:#000;font-size:16px;font-weight:normal;margin-bottom:10px;}